/* common css */

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  padding: 14px 20px;
  font-weight: 500;
  border-radius: 6px;
  color: white;
  border: none;
}
.common-section-title {
  color: #1f1f1f;
  font-size: 36px;
  font-weight: 600;
}


/* Nav  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
}

.search-parent {
  position: relative;
}
.search-parent input {
  background-color: #f1f1f1;
  padding: 12px;
  width: 500px;
  border-radius: 66px;
  border: none;
}
.search-parent i {
  position: absolute;
  top: 12px;
  right: 14px;
  color: #bababa;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 24px;
}
.nav-items li a {
  text-decoration: none;
  color: #707070;
  font-size: 16px;
  font-weight: 500;
}

/* Banner  */

.banner {
  background-color: rgba(254, 234, 233, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  padding: 38px 48px;
  margin-top: 48px;
}
.banner h2 {
  color: #1f1f1f;
  font-size: 56px;
  font-weight: 700;
}
.banner p {
  color: #4e4e4e;
  margin: 8px 0;
}
.banner img {
  width: 402px;
  height: 378px;
}
.banner-price {
  color: #ff136f;
  font-size: 41px;
  font-weight: 600;
  display: block;
  margin: 20px 0 10px 0;
}

/* category */
.categories{
    margin: 64px auto;
}
.categories-card-container {
  display: flex;
  gap: 26px;
  width: 100%;
}
.category-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 46px;
  border-radius: 10px;
  flex: 1;
}
.category-card h3 {
  color: #fff;
  font-size: 36px;
}
.category-card:nth-child(1) {
  background: linear-gradient(152deg, #ff9c35 1.47%, #ffd019 97.17%);
}
.category-card:nth-child(2) {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
}
.category-card:nth-child(3) {
  background: linear-gradient(170deg, #4289ff -10.89%, #3f07f8 92.77%);
}
